*{
    margin:0;
    padding:0;
    }
body{
    background-color: rgb(220, 183, 255);
}
h1,h2{
    text-align: center; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header{
   background: url(https://i.ytimg.com/vi/0LTzCmT0IsE/maxresdefault.jpg)
   center center; background-size:cover;height:340px;width: 100%;
   display:flex; justify-content:left;text-shadow: 2px 2px #fff;
}
nav{background-color: white;
    height: 0px;
    position: absolute;/*para regresar al menú se retrocede la página*/
    top: 50px;
    left:50px;
}
div.plato{
color:orange;
background:transparent;
}
div.plato:hover{color:#5C33F6;font-size:23px}

.plato li{
    display: inline; 
}
div .mplato{list-style: none;}
a{	background-color:rgba(0,255,0,0.2);width:10px;height:10px;
	transition: background-color .5s;color:white;}

a:hover{color:gold;font-size:22px;background-color:red}

.plato{
  display: online;
  justify-content: space-around;
  align-items: center;
}
article{padding:10px 20px;
    background: rgba(36, 20, 0, 0.164);
    background: linear-gradient(90deg, rgba(2, 0, 36, 0.055) 10%, rgba(27, 27, 138, 0.171) 35%, rgba(0,212,255,1) 100%);
}
ul li,ol li{list-style:none;}

#zanahoria{padding:30px;font-size:20px; margin-top: 5px;margin-bottom: 5px;
    background: rgb(101, 94, 236);
background: linear-gradient(90deg, rgba(161, 224, 15, 0.527) 0%, rgba(28, 245, 82, 0.685) 35%, rgba(255, 0, 157, 0.233) 100%);
}
