.row{
   background-color: blueviolet; 
}
.btn-success{
    background-color: rgb(246,150,106);
}
.btn-success{
    background-color:blue;
}
.bg-verde{
    background-color: chartreuse;
}
.nav-link{
    color:black;
}