#justify,#otra{
    display: flex;
    /* justify-content: center; para centrar los hijos*/
    /* justify-content: flex-end; para posicionar al final */
    /* justify-content: flex-start; para posicionar al inicio, se podría omitir ya que es la ubicación por defecto */
    /* justify-content: space-around;  */
    justify-content: space-between;
    /* justify-content: space-evenly; */

}
.primer{
    /* width: 150px;
    height: 150px; */
    width: 30%;

    background-color: blueviolet;
    /* float: left;   */
}
.primer::after{
    content: "Esto es después del contenido";
    color: white;
    font-size: 20px;
}
.primer::before{
    content: "Esto es para antes del contenido";
    color:yellow;
    font-size: 20px;
}
.primer::first-letter{
    color:blue;
    font-size: 20px;
}
.blue{
    background-color: blue;
}
li{
    display:inline;
}
span{
    display: block;
}
.principal{
    display: flex;
}
    