/NetBeansProjects/mi_aplicacion/build/
/NetBeansProjects/clase2Java/nbproject/private/
/NetBeansProjects/clase2Java/build/
/NetBeansProjects/EscuelaDigital/nbproject/private/
/NetBeansProjects/ejemploPseudocódigo/nbproject/private/