body{
    background-color: rgba(137, 43, 226, 0.432);
}
i{
    color: darkblue;
}
@keyframes mover {
    from{top: 115px;px;}
    to{top:250px;color:darkred}
}
#flecha{
    position:absolute;
    /* animation-name: mover; */
    /* animation-duration: 5s; */
    transform: rotate(90deg);
    animation: mover 5s 2s infinite linear alternate;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}
#pelota:hover{
    position:relative;
    animation-name: fadeIn, otra, fadeIn;
    transform: rotate(45deg);
    animation-duration: 5s;
    animation-delay: 5s, 7s, 10s;
    
}
@keyframes fadeIn {
    from{opacity: 0;}
    to{opacity: 1;}
}
@keyframes otra{
    0%{color:brown}
    25%{color: yellow;}
    50%{color:green}
}
ul li{
    display: inline;
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}
ul li:hover{
    animation-name: menu;
    animation-duration: 1s;
    animation-fill-mode:forwards;

}
@keyframes menu{
    0%{
        padding: 10px;
        background-color: black;
        color: white;  
    }
    100%{
        padding: 20px;
        background-color: white;
        color: black;
        box-shadow: 5px 5px 5px black;
        border-radius: 15px;
        font-size: 1.25em;
    }
}
#letra {
    font: 2em 'Azeret Mono', monospace;
    font-weight: bolder;
    padding-left: 50px;
}

    
